﻿<!DOCTYPE html>

<html ng-app="myApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GrooveList</title>

    <link href="~/Content/Styles/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/style.css" rel="stylesheet" />
    <link href="~/Content/Styles/spinner.css" rel="stylesheet" />

    <script src="~/Scripts/External/jquery-1.11.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="~/Scripts/External/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/External/underscore.min.js"></script>
    
    <script src="~/Scripts/External/bootstrap.min.js"></script>
    <script src="~/Scripts/External/angular-ui-router.min.js"></script>
    <script src="~/Scripts/External/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="~/Scripts/External/moment.min.js"></script>
    <script src="~/Scripts/Internal/Directives/angular-moment-duration.js"></script>
    <script src="~/Scripts/Internal/Directives/ng-context-menu.js"></script>

    <script src="~/Scripts/Internal/app.js"></script>
    <script src="~/Scripts/Internal/Controllers/homeController.js"></script>
    <script src="~/Scripts/Internal/Controllers/navigationController.js"></script>
    <script src="~/Scripts/Internal/Controllers/songController.js"></script>
    <script src="~/Scripts/Internal/Controllers/editSongController.js"></script>
    <script src="~/Scripts/Internal/Services/songService.js"></script>
    <script src="~/Scripts/Internal/Services/playlistService.js"></script>
    <script src="~/Scripts/Internal/Filters/genresFilter.js"></script>
    <base href="/"></base>
</head>
<body>   
    <div ui-view="navigation"></div>
    <div ui-view="content"></div>
</body>
</html>
