﻿@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

#logo {
    float:left;
    font-family:'Rock Salt';
    color:#4a61ed;
}
body {
    font-family:'Open Sans';
}

.menu {
    float:right;
    margin-right:50px;
}

#home .songTitle{
    font-weight:600;

}

#home .position-fixed {
  position: fixed;
  z-index:2;
}

#home .songMenu{
    height: 400px;
    overflow-y:scroll;
}

#home .playlistForm {
    margin-bottom:20px;
}

#home .searchForm {
     margin-bottom:20px;
}

#home .songTitle a {
    text-decoration:none;
    color:inherit;
    cursor:pointer;
}
#editSong .wrapper, #song .wrapper {

}
#editSong .duration, #song .duration {
    float:left;
    margin-right:5px;
    display:inline !important;
    width: 80px;
}
#editSong .submit, #song .submit {
    float:left;
    clear:both;
    margin-top:15px;
}

#editSong .alert {
    float:left;
    margin-top:15px;
    margin-left:15px;
    display:inline;
}