﻿<div ng-controller="editSongController" ng-init="init()">
    <div id="editSong" class="container">
        <h1>Create Song</h1>
        <div class="wrapper col-md-6">
            <h3>Main Informations</h3>
            <div class="form-group">
                <label>Name:</label>
                <input type="text" class="form-control" ng-model="song.Name" />
            </div>
            <div class="form-group">
                <label>Artist:</label>
                <input type="text" class="form-control" ng-model="song.Artist" />
            </div>
            <div class="form-group">
                <label>Duration: </label>
                <div class="input-group">
                    <input class="duration form-control" momentduration="minutes" ng-model="duration" />
                    <input class="duration form-control" momentduration="seconds" ng-model="duration" />
                </div>
            </div>
            <div class="form-group">
                <label>Youtube URL:</label>
                <input type="text" class="form-control" ng-model="song.YoutubeURL" />
            </div>
        </div>
        <div class="wrapper col-md-6">
            <div class="control-group">
                <h3>Choose Genres</h3>
                <div class="controls col-md-6" ng-repeat="group in genreGroups.genreGroups">
                    <label class="checkbox" ng-repeat="genre in group">
                        <input type="checkbox" ng-model="genre.selected"> {{genre.name}}
                    </label>
                </div>
            </div>
        </div>

        <button type="button" class="submit btn-primary btn-lg" ng-click="submitSong(song)">Submit</button>

        <div class="alert alert-success" ng-show="isSongEditedWell"><span class="glyphicon glyphicon-ok"></span> Song is edited succesfully!</div>
        <div class="alert alert-danger" ng-show="isSongNotEditedWell"><span class="glyphicon glyphicon-exclamation-sign"></span> Song is not edited succesfully!</div>
    </div>
</div>