﻿
<div id="home"  ng-controller="homeController" ng-init="init()">
    <div ng-hide="playlistsLoaded && songsLoaded">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>

        </div>
        <div class="spinnerText"><h3>Loading</h3></div>
    </div>
    <div class="container" ng-show="playlistsLoaded && songsLoaded">
        <div class="col-md-6">
            <h3>Playlists</h3>
            <div class="playlistForm form-inline">
                <input class="form-control" ng-model="newPlaylist.Name" />
                <button type="button" class="btn btn-primary" ng-click="addPlaylist(newPlaylist)">Add playlist</button>
            </div>

            <div>
                <accordion close-others="true">
                    <accordion-group is-open="status.open" ng-repeat="playlist in playlists | filter:search">
                        <accordion-heading>
                            {{playlist.Name}}
                            <i class="pull-right glyphicon" ng-click="playlistOpened($index, playlist, status.open)" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </accordion-heading>
                        <ul class="list-group">
                            <li class="list-group-item" context-menu context-menu-close data-target="playlist-menu-{{ song.Id }}" id="playlist-panel-{{ song.Id }}" ng-repeat="song in playlist.Songs">
                                <span class="badge">{{song.Duration}}</span>
                                <div class="songTitle"><a ng-href="{{song.YoutubeURL}}">{{song.Name}} by {{song.Artist}}</a></div>
                                <div class="genres">{{song.Genres | genresFilter}}</div>
                                <div class="dropdown position-fixed" id="playlist-menu-{{ song.Id }}">
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a class="pointer" ng-click="removeSongFromPlaylist(song, playlist)" role="menuitem">Remove from playlist</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <button type="button" ng-click="removePlaylist(playlist)" class="btn btn-danger btn-sl">Remove Playlist</button>
                        </ul>
                    </accordion-group>
                </accordion>
            </div>

        </div>

        <div class="col-md-6">
            <h3>Songs</h3>
            <div class="form-inline searchForm">
                <label>Search</label>
                <input class="form-control" type="search" ng-model="search" />
            </div>

            <ul class="songMenu list-group">
                <li class="list-group-item" context-menu context-menu-close data-target="menu-{{ song.Id }}" id="panel-{{ song.Id }}" ng-class="{active: selected == $index}" ng-click="songSelected($index, song)" ng-repeat="song in songs | filter:search">
                    <span class="badge">{{song.Duration}}</span>
                    <div class="songTitle">{{song.Name}} by {{song.Artist}}</div>
                    <div class="genres">{{song.Genres | genresFilter}}</div>
                    <div class="dropdown position-fixed" id="menu-{{ song.Id }}">
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a class="pointer" href="{{song.YoutubeURL}}" role="menuitem">Listen {{song.Name}}</a>
                            </li>
                            <li>
                                <a class="pointer" ui-sref="editSong({songId: song.Id})" role="menuitem">Edit {{song.Name}}</a>
                            </li>
                            <li>
                                <a class="pointer" ng-click="removeSong(song)" role="menuitem">Remove {{song.Name}}</a>
                            </li>

                        </ul>
                    </div>
                   
                </li>
               
            </ul>
            <button type="button" class="btn btn-lg btn-primary" ng-disabled="!isPlaylistOpened || !selectedSong" ng-click="addSongToPlaylist()"> Add To Opened Playlist</button>
            <div class="alert alert-danger" ng-show="cantAddMessage"><span class="glyphicon glyphicon-exclamation-sign"></span> <span>Can't add same song twice</span></div>
        </div>

    </div>
</div>