﻿<nav class="navbar navbar-default" ng-controller="navigationController">
    <div class="container-fluid">
        <div class="navbar-header">
            <a id="logo" class="navbar-brand">GrooveList</a>
        </div>
        <div class="menu">
            <ul class="nav navbar-nav">
                <li><a ui-sref="home">Home</a></li>
                <li><a ui-sref="addSong" ng-click="onClick()">Add Song</a></li>
                <li><a ui-sref="addPlaylist">Add Playlist</a></li>

            </ul>
        </div>
    </div>
</nav>
